<div ng-if="showPage">
    <div class="col-lg-12" id="header">
        <div class="page-header">
            <h1 id="navbar">Village Builder</h1>
            <p>own less and have more</p>
        </div>
        <div class="text-danger">
            <strong>
                <div></div>
            </strong>
        </div>
    </div>	
    <div class="row" id="body">
        Personal Info >> Address >> Privacy Settings >> Find Friends 
        <hr>

        <div ng-controller="CreateAccountFormController" ng-init="loadForm()">
            <div ui-view></div>
        <!--
            <div ng-if="Request.createAccount" 
                 vb-build-form 
                 vb-request-object="Request.createAccount"
                 vb-submit="{val:'Create Account', func:submitForm}" 
                 vb-reset="{val:'Reset Form', func:resetForm}"></div>
            <div ng-if="!Request.createAccount">Form loading...</div>
        -->
        </div>
        

        <a ui-sref="login">Login</a>
        <a ui-sref="reset-password">Forgot Password?</a>
    </div>
    <div class="row" id="footer">
        <div class="col-lg-12">
            <hr>
            <p>Made in <a href="http://johnmeinken.com">Ohio</a>,
            2014.<br />
            Questions and feedback: 
            <a href="mailto:thebellsofohio@hotmail.com">
                thebellsofohio@hotmail.com
            </a>   
        </div>
    </div>
</div>



