<div class="container" ng-if="showPage">
    <div class="col-lg-12" id="header">
        <div class="page-header">
            <h1 id="navbar">Village Builder</h1>
            <p class="lead">share resources with friends and neighbors</p>
        </div>
    </div>	
    <div class="row" id="body">
        
        
        <div ng-controller="CreateAccountFormController" ng-init="loadForm()">
            

        <hr>
        
        <ul class="nav nav-pills nav-wizard">
            <li ng-class="{active: $state.includes('create-account.account-info'), disabled: !completion['account_info']}">
                <a href="" ui-sref="{{accountInfoView}}" ng-if="completion['account_info']">
                    Account Info
                </a>
                <a href="" ng-if="!completion['account_info']">
                    Account Info
                </a>
                <div class="nav-arrow"></div>
            </li>
            <li ng-class="{active: $state.includes('create-account.map'), disabled: !completion['account_info']}">
                <div class="nav-wedge"></div>
                <a href="" ui-sref="{{mapView}}" ng-if="completion['account_info']">
                    Address
                </a>
                <a href="" ng-if="!completion['account_info']">
                    Address
                </a>
                <div class="nav-arrow"></div>
            </li>
            <li ng-class="{active: $state.includes('create-account.personal-info'), disabled: !completion['address']}">
                <div class="nav-wedge"></div>
                <a href="" ui-sref="{{personalInfoView}}" ng-if="completion['address']">
                    Personal Info and Privacy Settings
                </a>
                <a href="" ng-if="!completion['address']">
                    Personal Info and Privacy Settings
                </a>
                <div class="nav-arrow"></div>
            </li>
            <li ng-class="{active: $state.includes('create-account.confirmation'), disabled: true}">
                <div class="nav-wedge"></div>
                <a href="">Confirmation</a>
            </li>
        </ul>
        <hr>
            
            
            
            
            
            
            
            <div ui-view></div>
        <!--
            <div ng-if="Request.createAccount" 
                 vb-build-form 
                 vb-request-object="Request.createAccount"
                 vb-submit="{val:'Create Account', func:submitForm}" 
                 vb-reset="{val:'Reset Form', func:resetForm}"></div>
            <div ng-if="!Request.createAccount">Form loading...</div>
        -->
        </div>
        

        <a ui-sref="login">Login</a>
        <a ui-sref="reset-password">Forgot Password?</a>
    </div>
    <div class="row" id="footer">
        <div class="col-lg-12">
            <hr>
            <p>Made in <a href="http://johnmeinken.com">Ohio</a>,
            2014.<br />
            Questions and feedback: 
            <a href="mailto:thebellsofohio@hotmail.com">
                thebellsofohio@hotmail.com
            </a>   
        </div>
    </div>
</div>



