<div class="modal-dialog modal-md">
    <div class="modal-header" style="background: #fff">
        <button type="button" class="close" data-dismiss="modal" ng-click="resetChangedAddress()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm Account Deletion</h4>
    </div>
    <div class="modal-body" style="background: #fff">
        <div class="row">
            <div class="col-lg-12">
                This action will permanently delete your account and *ALL*
                information associated with it.  Once this action is executed
                it cannot be undone.  Are you sure you want to do this?<br><br>
                <a href="" class="btn btn-danger" ng-click="deleteAccount()" data-dismiss="modal">Yes, Delete</a>
                <a href=""  data-dismiss="modal">No, get me out of here</a>
            </div>
        </div>
        

    </div>
</div>
