<div ng-if="showPage">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VillageBuilder</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">My Listings</a></li>
            <li><a href="#">My Friends</a></li>
            <li><a href="#">Messages [0]</a></li>
            <li><a href="#">User Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="pic" ng-src="{{State.currentUser.profilePicThumbUrl}}" 
                       width="25" height="25" />
                  {{ State.currentUser.firstName }}
                  {{ State.currentUser.lastName }}
                  {{ State.currentUser.userId }}
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="" ui-sref="main.manage-account">Account Settings</a></li>
                <li><a href="" ng-click="State.signOut()">Log Out</a></li>
                <li><a href="" ui-sref="main.create-group.account-info">Create New Group</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>



    <div class="container-fluid" ui-view>

    </div>

</div>



