<div ng-if="showPage" ng-controller="MainController">
    <div ng-class="{'navbar':true, 'navbar-inverse':State.activeParticipant.participant_type=='person', 'navbar-default':State.activeParticipant.participant_type!='person'}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VillageBuilder</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse" ng-controller="AlertController">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">My Shared Items</a></li>
            <li ng-if="State.activeParticipant.participant_type=='person'">
                <a href="" ui-sref="main.friends">
                    Friends/Groups
                </a>
            </li>
            <li ng-if="State.activeParticipant.participant_type=='group'">
                <a href="" ui-sref="main.members">
                    Members
                </a>
            </li>
            <li><a href="#">Messages [0]</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                   ng-click="alertsViewed()">
                    Alerts [{{ newAlertCount }}]
                    <b class="caret"></b>
                </a>
                <!--<ul class="dropdown-menu">
                    <li ng-repeat="i in [0,1,2,3]" ng-if="alertCollection[i]">
                        <a href="">
                            <img ng-src="{{alertCollection[i].profilePicThumbUrl}}" width="60" height="60" />
                            {{alertCollection[i].firstName}} {{alertCollection[i].lastName}}<br>
                            {{ alertCollection[i].type }} | viewed: {{ alertCollection[i].viewed }}
                        </a>
                    </li>
                </ul>-->
                <ul class="dropdown-menu widen">
                    <li class="dropdown-header" ng-repeat-start="participantId in keyArray(alertCollection)">
                        for {{ State.getParticipantDetail(participantId, "name") }}
                    </li>
                    <li ng-repeat="alert in alertCollection[participantId]" ng-repeat-end>
                        <div href="#" class="alert-menu-item" ng-if="alert.type=='friend request'">
                            <img ng-src="{{getImage(alert.pic_small)}}" 
                                 class="float-left padded-image"
                                 width="40" height="40" />
                            Friend request from {{alert.name}}<br>
                            <a href="#" ng-click="addFriend(participantId, alert.participant_id)"
                                class="btn btn-success btn-xs alert-menu-button">Accept</a>
                            <a href="" ng-click="deleteAlert(alert.alert_id)"
                               class="btn btn-warning btn-xs alert-menu-button">Ignore</a>
                            <br clear="all">
                        </div>
                        <div href="#" class="alert-menu-item" ng-if="alert.type=='friend confirmation'">
                            <img ng-src="{{getImage(alert.pic_small)}}" 
                                 class="float-left padded-image"
                                 width="40" height="40" />
                            You are now friends with {{alert.name}}<br>
                            <a href="#" ng-click="deleteAlert(alert.alert_id)"
                                class="btn btn-success btn-xs alert-menu-button">OK</a>
                            <br clear="all">
                        </div>
                        <div href="#" class="alert-menu-item" ng-if="alert.type=='member request'">
                            <img ng-src="{{getImage(alert.pic_small)}}" 
                                 class="float-left padded-image"
                                 width="40" height="40" />
                            Membership request from {{alert.name}}<br>
                            <a href="#" ng-click="approveGroupMember(alert.participant_id,
                                        participantId)"
                                class="btn btn-success btn-xs alert-menu-button">Approve</a>
                            <a href="" ng-click="deleteAlert(alert.alert_id)"
                               class="btn btn-warning btn-xs alert-menu-button">Ignore</a>
                            <br clear="all">
                        </div>
                        <div href="#" class="alert-menu-item" ng-if="alert.type=='member confirmation'">
                            <img ng-src="{{getImage(alert.pic_small)}}" 
                                 class="float-left padded-image"
                                 width="40" height="40" />
                            Your membership in {{alert.name}} has been approved<br>
                            <a href="" ng-click="deleteAlert(alert.alert_id)"
                               class="btn btn-warning btn-xs alert-menu-button">OK</a>
                            <br clear="all">
                        </div>
                    </li>
                    

                </ul>

            </li>
            <li><a href="#">User Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="pic" ng-src="{{getImage(State.activeParticipant.pic_small)}}" 
                       width="25" height="25" />
                  <strong>
                        {{ State.activeParticipant.name }}
                        {{ State.activeParticipant.participant_id }}
                  </strong>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <a href="" ui-sref="main.manage-account">
                        View/edit account settings for {{ State.activeParticipant.name }}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    Your Other Accounts
                </li>
                <li ng-repeat="account in State.allParticipants"
                    ng-show="account != State.activeParticipant">
                    <a href="" ng-click="changeActiveParticipant(account.participant_id)">
                        <img alt="pic" ng-src="{{getImage(account.pic_small)}}" 
                             width="25" height="25" /> 
                        {{account.name}}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Actions</li>
                <li><a href="" ui-sref="main.create-group.account-info">Create a New Group Account</a></li>
                <li><a href="" ng-click="State.signOut()">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>



    <div class="container-fluid" ui-view>

    </div>

</div>



