<div ng-if="showPage" ng-controller="MainController">
    <div ng-class="{'navbar':true, 'navbar-inverse':State.activeParticipant.participant_type=='person', 'navbar-default':State.activeParticipant.participant_type!='person'}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VillageBuilder</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse" ng-controller="AlertController">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">My Shared Items</a></li>
            <li ng-if="State.activeParticipant.participant_type=='person'">
                <a href="" ui-sref="main.friends">
                    Friends/Groups
                </a>
            </li>
            <li ng-if="State.activeParticipant.participant_type=='group'">
                <a href="" ui-sref="main.members">
                    Members
                </a>
            </li>
            <li><a href="#">Messages [0]</a></li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                   ng-click="alertsViewed()">
                    Alerts [{{ newAlertCount }}]
                    <b class="caret"></b>
                </a>
                <!--<ul class="dropdown-menu">
                    <li ng-repeat="i in [0,1,2,3]" ng-if="alertCollection[i]">
                        <a href="">
                            <img ng-src="{{alertCollection[i].profilePicThumbUrl}}" width="60" height="60" />
                            {{alertCollection[i].firstName}} {{alertCollection[i].lastName}}<br>
                            {{ alertCollection[i].type }} | viewed: {{ alertCollection[i].viewed }}
                        </a>
                    </li>
                </ul>-->
                <ul class="dropdown-menu">
                    <li class="dropdown-header" ng-repeat-start="participantId in keyArray(alertCollection)">
                        for {{ State.allParticipants[participantId].name }}
                    </li>
                    <li ng-repeat="alert in alertCollection[participantId]" ng-repeat-end>
                        <a href="">
                            <img ng-src="{{alert.profilePicThumbUrl}}" width="60" height="60" />
                            {{alert.name}} {{alert.lastName}}<br>
                            {{alert.type}} | viewed {{alert.viewed}}
                        </a>
                    </li>
                    

                </ul>

            </li>
            <li><a href="#">User Guide</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img alt="pic" ng-src="{{State.activeParticipant.profilePicThumbUrl}}" 
                       width="25" height="25" />
                  <strong>
                        {{ State.activeParticipant.title }}
                        {{ State.activeParticipant.firstName }}
                        {{ State.activeParticipant.lastName }}
                        {{ State.activeParticipant.participantId }}
                  </strong>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                    <a href="" ui-sref="main.manage-account">
                        View/edit account settings for {{ State.activeParticipant.name }}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    Your Other Accounts
                </li>
                <li ng-repeat="account in State.allParticipants"
                    ng-show="account != State.activeParticipant">
                    <a href="" ng-click="changeActiveParticipant(account.participantId)">
                        <img alt="pic" ng-src="{{account.profilePicThumbUrl}}" 
                             width="25" height="25" /> 
                        {{account.name}}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Actions</li>
                <li><a href="" ui-sref="main.create-group.account-info">Create a New Group Account</a></li>
                <li><a href="" ng-click="State.signOut()">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>



    <div class="container-fluid" ui-view>

    </div>

</div>



