<style type="text/css">

        #file, #progressBar, #upload, .drag-drop {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        


        .drag-drop {
            width: 100%;
            height: 100%;
            border: 2px dotted #0B85A1;
            text-align: center;
            line-height: 88px;
            background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.02)
        }

        .drag-drop-active {
            border: 2px solid #0B85A1;
            background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.08)
        }

        .text{
            font-size: 18px;
        }

        .button {
            font-size: 22px;
        }

        #grid{
            margin-top: 20px;
            margin-bottom: 100px;
        }

        #grid td {
            text-align: center;
            vertical-align: top;
            padding-right: 30px;
        }

        .preview{
            padding: 10px;
        }

        .red{
            color: orangered;
        }
        
        .control td {
            padding-right: 58px;
        }
        
        .frame {
            background: none repeat scroll 0 0 #fff;
            border: 2px solid #ddd;
            padding: 10px;
        }
        
        
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        .hcenter {
            text-align: center;
            display: inline-block;
        }
        .text-warning {
            color: #CC5200 !important;
        }

</style>








<div class="row">
    <div class="col-lg-3">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Full Address <a href="">(edit)</a></label><br>
                <textarea disabled="" class="form-control" rows="2" id="textArea"
                          ng-model="Request.createAccount.request.full_address"></textarea>
            </div>
            <div ng-repeat="inputName in ['street','city','neighborhood']" 
            ng-if="Request.createAccount" 
                     vb-build-input 
                     vb-request-object="Request.createAccount"
                     vb-input-name="inputName"></div>
                <div ng-if="!Request.createAccount">Form loading...</div>
            <div class="form-group">
                <label class="control-label">Profile Pic</label>
                <div>
                    <button href="" data-target="#myModal" data-toggle="modal">
                        Upload Picture
                    </button>
                </div>
            </div>
            
            <!--<div ng-if="Request.createAccount" 
                 vb-build-form 
                 vb-request-object="Request.createAccount"
                 vb-submit="{val:'Save Changes', func:submitForm}" 
                 vb-reset="{val:'Reset Form', func:resetForm}"></div>
            <div ng-if="!Request.createAccount">Form loading...</div>-->
          </fieldset>
        </form>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
                <label>
                    <input type="checkbox" />
                    Allow friends to see my email address
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" />
                    Allow friends to see my full address
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" />
                    Allow friends to see my phone number
                </label>
            </div>
            <div ng-repeat="inputName in ['phone_number','phone_type']" 
                ng-if="Request.createAccount" 
                     vb-build-input 
                     vb-request-object="Request.createAccount"
                     vb-input-name="inputName"></div>
            <div ng-if="!Request.createAccount">Form loading...</div>
          </fieldset>
        </form>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <h3>Shared with Everyone</h3>
        <table>
            <tr>
                <td>
                    <img alt="User Picture" ng-src="{{ imgLarge }}" width="55" height="55" />
                </td>
                <td>
                    <div>
                        {{ Request.createAccount.request.first_name }} 
                        {{ Request.createAccount.request.last_name }}
                    </div>
                    <div>
                        {{ Request.createAccount.request.street }} 
                        ({{ Request.createAccount.request.neighborhood || Request.createAccount.request.city }})
                    </div>
                </td>
            </tr>
        </table>    
            
        
				
        <hr />
        <h3>Shared Only With Friends</h3>
    </div>
</div>
    







<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" 
     ng-include="'templates/user-image.html'"></div>   



