<div ng-if="showPage">
    <div class="col-lg-12" id="header">
        <div class="page-header">
            <h1 id="navbar">Village Builder</h1>
            <p>own less and have more</p>
        </div>
        <div class="text-danger">
            <strong>
                <div></div>
            </strong>
        </div>
    </div>	
    <div class="row" id="body">
        this is the reset password page.<br><br>
        <div ng-controller="ResetPasswordFormController" ng-init="loadForm()">
            <div ng-if="Request.resetPassword" 
                 vb-build-form 
                 vb-request-object="Request.resetPassword"
                 vb-submit="{val:'Reset Password', func:submitForm}" 
                 vb-reset="{val:'Reset Form', func:resetForm}"></div>
            <div ng-if="!Request.resetPassword">Form loading...</div>
        </div>

        <a ui-sref="login">Return to Login Page</a>
    </div>
    <div class="row" id="footer">
        <div class="col-lg-12">
            <hr>
            <p>Made in <a href="http://johnmeinken.com">Ohio</a>,
            2014.<br />
            Questions and feedback: 
            <a href="mailto:thebellsofohio@hotmail.com">
                thebellsofohio@hotmail.com
            </a>   
        </div>
    </div>
</div>



