<div class="modal-dialog modal-lg">
    <div class="modal-header" style="background: #fff">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Picture</h4>
    </div>
    <div class="modal-body" style="background: #fff">
        <div class="row">
            <div class="col-lg-3 hcenter vcenter">
                <div id="dragDrop" class="drag-drop text" data-jcu-active="drag-drop-active">Drag and Drop Here
                </div>
            </div>
            <div class="col-lg-1 vcenter">
                <strong>OR</strong>
            </div>
            <div class="col-lg-7 vcenter">
                <input class="button" id="file" type="file" name="file"/>
            </div>
        </div>
        <hr>
        <div class="row" ng-show="imageLoaded">
            <div class="col-lg-6">
                <span class="text-warning"><em>Select area to use:</em></span>
                <div class="frame"><img id="image" src="assets/images/generic-user.png" ng-init="attachJcrop()"></div>
            </div>
            <div class="col-lg-6 hcenter">
                <h3 class="text-warning">Preview</h3>
                <canvas class="img-thumbnail" id="img_viewer" width="150" height="150"></canvas>
                <div ng-show="false">
                    <input type="text" id="imageLoaded" ng-model="imageLoaded" />
                    <canvas class="img-thumbnail" id="img_thumb" width="80" height="80"></canvas>
                    <canvas class="img-thumbnail" id="img_large" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" ng-show="imageLoaded">
            <div class="col-lg-2 vcenter">
                <input class="btn btn-lg btn-primary" ng-click="uploadImage()" id="upload" type="button" value="Upload" />
            </div>
            <div class="col-lg-7 vcenter">
                <div id="progressBar" class="big-green">
                    <div></div>
                </div>
            </div>
            <div class="col-lg-2 vcenter" ng-show="imageUploaded">
                <button class="btn btn-success btn-lg" type="button" data-dismiss="modal">Close Window</button>
            </div>
        </div>

    </div>
</div>
