<div ng-repeat="member in memberCollection" ng-if="State.activeParticipant.type=='person'">
    <img  ng-src="{{ member.profilePicThumbUrl }}"
          width="60" height="60">
    {{member.first_name}} {{member.last_name}} {{ alreadyFriends(member.member_id) }}
    <div class="btn-group">
      <a aria-expanded="false" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        &raquo;
      </a>
      <ul class="dropdown-menu">
        <li><a href="" ng-if="!alreadyFriends(member.member_id)" 
               ng-click="addFriend(member.member_id)">
                {{member.member_id}} Add to friend list
            </a>
            <a href="" ng-if="alreadyFriends(member.member_id)" 
               ng-click="deleteFriend(member.member_id)">
                {{member.member_id}} Remove from friend list
            </a>
        </li>
       </ul>
    </div>
</div>
