<!DOCTYPE html>
<html ng-app="app">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Bootstrap Themes -->
    <!--<link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css">-->
    <!-- jQuery  -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/app/angular-ui-router.min.js"></script>
    <script src="js/app/ng_sanitize.js"></script>
    <script src="js/app/interpol.js"></script>
    <!--<link rel="stylesheet" href="assets/css/data_analysis_tool.css">-->       
    <title>Village Builder</title>
    <!-- Google Maps API -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0gq-iooxPujERCOEM0ozvxmUPAySnuYU">
    </script>
    <!-- Jcrop API -->
    <script src="libraries/jcrop/jpick_upload.min.js"></script>
    <script src="libraries/jcrop/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="assets/css/cerulean.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/nav-wizard.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/villagebuilder.css" type="text/css" />
    <link rel="stylesheet" href="libraries/jcrop/css/jquery.Jcrop.min.css" type="text/css" />
    <link rel="stylesheet" href="libraries/jcrop/css/progressBar.css" type="text/css" />    
    <style>
        #footer {
            text-align: center;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0 !important;
        }
    </style>
    
</head>

<body ng-cloak  ng-controller="GlobalController"  ng-init="State.authenticate()">

    <code>
        {{ State.debug }} | {{State.activeAccount.participantId}}
    </code>

<div ui-view></div>




    
<!-- AngularJS modules and directives -->    
<script src="js/app/app.js"></script>
<script src="js/app/ng_match.js"></script>
<script src="js/app/states.js"></script>
<!--<script src="js/app/file_reader.js"></script>-->
<!-- AngularJS services  -->
<script src="js/services/ajax_service.js"></script>
<script src="js/services/state_service.js"></script>
<script src="js/services/request_service.js"></script>
<script src="js/services/utilities_service.js"></script>
<!--<script src="js/services/auth_service.js"></script>-->
<!-- AngularJS Controllers  -->
<script src="js/controllers/global_controller.js"></script>
<script src="js/controllers/logged_out_controller.js"></script>
<script src="js/controllers/logged_in_controller.js"></script>
<script src="js/controllers/main_controller.js"></script>
<script src="js/controllers/user_image_controller.js"></script>
<script src="js/controllers/login_form_controller.js"></script>
<!-- Create Account Controllers-->
<script src="js/controllers/create_account/create_account_form_controller.js"></script>
<script src="js/controllers/create_account/account_info_form_controller.js"></script>
<script src="js/controllers/create_account/map_controller.js"></script>
<script src="js/controllers/create_account/personal_info_form_controller.js"></script>
<script src="js/controllers/create_account/create_group_form_controller.js"></script>
<!-- Manage Account Controllers-->
<script src="js/controllers/manage_account/manage_account_form_controller.js"></script>
<script src="js/controllers/manage_account/manage_password_form_controller.js"></script>
<script src="js/controllers/manage_account/reset_password_form_controller.js"></script>
<script src="js/controllers/manage_account/activate_account_controller.js"></script>
<script src="js/controllers/manage_account/activate_reset_password_controller.js"></script>
<!-- Friend Suggestion Controllers -->
<script src="js/controllers/friend_suggestions/nearby_people_controller.js"></script>
<!-- Debug/Testing -->
<script src="js/controllers/debug/tester_controller.js"></script>

<!-- Form Templates -->
<script type="text/ng-template" id="testing.html">
    It worked.
</script>
<script type="text/ng-template" id="form-error.html">
    <div class="alert alert-danger" ng-if="request.formError && showFormError">
        {{ request.formError }}
    </div>
</script>

<script type="text/ng-template" id="input-label.html">
    <label class="control-label">
            {{ request.meta[field].name || field }}
            <span ng-if="request.meta[field].required">*</span>
    </label>
</script>

<script type="text/ng-template" id="input-description.html">
    <span class="help-block" ng-show="request.meta[field].description">
            {{ request.meta[field].description }}
    </span>
</script>

<script type="text/ng-template" id="input-float.html">
    <input class="form-control" name="{{field}}" type="number"
                       ng-model="request.request[field]" 
                       min="request.meta[field].min"
                       max="request.meta[field].rax"
                       ng-required="request.meta[field].required" />
</script>

<script type="text/ng-template" id="input-integer.html">
    <input class="form-control" name="{{field}}" type="number" integer 
                       ng-model="request.request[field]" 
                       min="request.meta[field].min"
                       max="request.meta[field].rax"
                       ng-required="request.meta[field].required" />
</script>

<script type="text/ng-template" id="input-text.html">
    <input name="{{field}}" class="form-control" type="text" ng-model="request.request[field]" 
                       ng-required="request.meta[field].required"
                       ng-minlength="{{request.meta[field].minlength}}"
                       ng-maxlength="{{request.meta[field].maxlength}}"
                       maxlength="{{request.meta[field].maxlength}}"
                       ng-pattern="{{request.meta[field].pattern}}"
                       />
</script>

<script type="text/ng-template" id="input-password.html">
    <input name="{{field}}" class="form-control" type="password" ng-model="request.request[field]"
                       ng-required="request.meta[field].required"
                       ng-minlength="{{request.meta[field].minlength}}"
                       ng-maxlength="{{request.meta[field].maxlength}}"
                       maxlength="{{request.meta[field].maxlength}}"
                       ng-pattern="{{request.meta[field].pattern}}" />
</script>

<script type="text/ng-template" id="input-password-confirm.html">
    <input name="{{field}}" class="form-control" type="password" ng-model="request.request[field]"
                       ng-required="request.meta[field].required"
                       data-match="request.request[request.meta[field].matches]" />
</script>

<script type="text/ng-template" id="input-checkbox.html">
    <input name="{{field}}" type="checkbox" ng-model="request.request[field]" 
                           ng-true-value="1" ng-false-value="0" />
</script>

<script type="text/ng-template" id="input-select.html">
    <select name="{{field}}" id="{{field}}" class="form-control" ng-model="request.request[field]"
            ng-options="request.meta[field].options[option] for option in keyArray(request.meta[field].options)"
            ng-required="request.meta[field].required">
    </select>
</script>

<script type="text/ng-template" id="input-textarea.html">
    
</script>

<script type="text/ng-template" id="input.html">
    <span ng-switch="request.meta[field].input_type">
        <span ng-switch="request.meta[field].input_type">
        <span ng-switch-when="number">
            <span ng-include="'input-float.html'"></span>
        </span>
        <span ng-switch-when="integer">
            <span ng-include="'input-integer.html'"></span>
        </span>
        <span ng-switch-when="text">
            <span ng-include="'input-text.html'"></span>
        </span>
        <span ng-switch-when="password">
            <span ng-include="'input-password.html'"></span>
        </span>
        <span ng-switch-when="password_confirm">
            <span ng-include="'input-password-confirm.html'"></span>
        </span>
        <span ng-switch-when="checkbox">
            <span ng-include="'input-checkbox.html'"></span>
        </span>
        <span ng-switch-when="select">
            <span ng-include="'input-select.html'"></span>
        </span>
    </span>
</script>

<script type="text/ng-template" id="input-error.html">
    <!-- Input errors sent from backend -->
    <div ng-if="request.inputErrors[field]" class="text-danger">
        {{ request.inputErrors[field][0] }}
    </div>
    <!-- Input errors generated by Angular -->
    <div class="text-danger" ng-show="form1[field].$invalid && showInputErrors">  
        <div ng-show="form1[field].$error.required">
            {{ request.meta[field].required_error || "Value is required." }}
        </div>
        <div ng-show="form1[field].$error.minlength">
            {{ request.meta[field].minlength_error || "Value must be at least " + request.meta[field].minlength + " characters." }}
        </div>
        <div ng-show="form1[field].$error.maxlength">
            {{ request.meta[field].maxlength_error || "Value can't be more than " + request.meta[field].minlength + " characters." }}
        </div>
        <div ng-show="form1[field].$error.pattern">
            {{ request.meta[field].pattern_error || "Not an appropriate value for " + field + "."  }}
        </div>
        <div ng-show="form1[field].$error.match">
            {{ request.meta[field].match_error || "Value doesn't match with " + request.meta[field].matches + "."  }}
        </div>
    </div>
</script>

	
</body>

</html>

