



<form name="form1" novalidate ng-controller="PersonalInfoFormController"
          ng-if="Request[form]">
    
<div class="row">
    <div class="col-lg-3">  
          <fieldset>
              <button ng-click="validateForm(form1.$valid)">Save and Continue</button>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Full Address <a href="">(edit)</a></label><br>
                <textarea disabled="" class="form-control" rows="2" id="textArea"
                          ng-model="Request[form].request.full_address"></textarea>
            </div>

                  <div ng-include="'templates/_reusable/input-elements.html'"
                       ng-controller="PersonalInfoFormFieldController1"></div>
          </fieldset>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
          <fieldset>
            <div class="form-group">
                <label class="control-label">Profile Pic</label>
                <div>
                    <img alt="User Picture" ng-src="{{ State.currentUser.profilePicUrl }}" width="150" height="150" />
                    <button href="" data-target="#myModal" data-toggle="modal">
                        Upload Picture
                    </button>
                </div>
            </div>
            <div ng-include="'templates/_reusable/input-elements.html?c=41'"
                       ng-controller="PersonalInfoFormFieldController2"></div>
            <div ng-include="'templates/_reusable/input-elements.html'"
                 ng-show="Request[form].request.share_phone"
                       ng-controller="PersonalInfoFormFieldController3"></div>
          </fieldset>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <h3>Shared with Everyone</h3>
        <table>
            <tr>
                <td>
                    <img alt="User Picture" ng-src="{{ State.currentUser.profilePicUrl }}" width="55" height="55" />
                </td>
                <td>
                    <div>
                        {{ Request[form].request.first_name }} 
                        {{ Request[form].request.last_name }}
                    </div>
                    <div>
                        {{ Request[form].request.street }} 
                        ({{ Request[form].request.neighborhood || Request[form].request.city }})
                    </div>
                </td>
            </tr>
        </table>    		
        <hr />
        <h3>Shared Only With Friends</h3>
        <div ng-if="Request[form].request.share_email">
            <strong>email:</strong> {{ Request[form].request.email }}
        </div>
        <div ng-if="Request[form].request.share_address">
            <strong>address:</strong> {{ Request[form].request.full_address }}
        </div>
        <div ng-if="Request[form].request.share_phone">
            <strong>phone:</strong> {{ Request[form].request.phone_number }}
            ({{ Request[form].request.phone_type }})
        </div>
    </div>
</div>
    
</form>






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" 
     ng-include="'templates/user-image.html'"></div>   



