

<form name="form1" id="form1" novalidate>

<div class="alert alert-danger" ng-if="request.formError">{{ request.formError }}</div>

<div ng-repeat="key in fields" ng-if="request.meta[key].input_type!='hidden'">
    <div ng-if="request.inputErrors[key]" class="text-danger">{{ request.inputErrors[key][0] }}</div>

    <div ng-class="{'form-group':true, 'has-error':request.inputErrors[key]}">
        <label class="control-label">
            {{ request.meta[key].name || key }}
            <span ng-if="request.meta[key].required">*</span>
        </label>

        <div ng-switch="request.meta[key].input_type">
            <div ng-switch-when="number">
                <input class="form-control" name="{{key}}" type="number"
                       ng-model="request.request[key]" 
                       ng-required="request.meta[key].required" />
            </div>
            <div ng-switch-when="integer">
                <input class="form-control" name="{{key}}" type="number" integer 
                       ng-model="request.request[key]" 
                       ng-required="request.meta[key].required" />
            </div>
            <div ng-switch-when="text">
                <input name="{{key}}" class="form-control" type="text" ng-model="request.request[key]" 
                       ng-required="request.meta[key].required"
                       ng-minlength="{{request.meta[key].minlength}}"
                       ng-maxlength="{{request.meta[key].maxlength}}"
                       maxlength="{{request.meta[key].maxlength}}"
                       ng-pattern="{{request.meta[key].pattern}}"
                       />
            </div>
            <div ng-switch-when="email">
                <input name="{{key}}" class="form-control" type="email" ng-model="request.request[key]" 
                       ng-required="request.meta[key].required" />
            </div>
            <div ng-switch-when="password">
                <input name="{{key}}" class="form-control" type="password" ng-model="request.request[key]"
                       ng-required="request.meta[key].required"
                       ng-minlength="{{request.meta[key].minlength}}"
                       ng-maxlength="{{request.meta[key].maxlength}}"
                       maxlength="{{request.meta[key].maxlength}}"
                       ng-pattern="{{request.meta[key].pattern}}" />
            </div>
            <div ng-switch-when="password_confirm">
                <input name="{{key}}" class="form-control" type="password" ng-model="request.request[key]"
                       ng-required="request.meta[key].required"
                       data-match="request.request[request.meta[key].matches]" />
            </div>
            <div ng-switch-when="checkbox">
                    <input name="{{key}}" type="checkbox" ng-model="request.request[key]" />
            </div>
            <div ng-switch-when="select">
                <select name="{{key}}" id="{{key}}" class="form-control" ng-model="request.request[key]"
                        ng-options="request.meta[key].options[option] for option in keyArray(request.meta[key].options)"
                        ng-required="request.meta[key].required">
                </select>
            </div>
        </div>
        
        <span class="help-block" ng-show="request.meta[key].description">
            {{ request.meta[key].description }}
        </span>
        
        <div class="text-danger" ng-show="form1[key].$invalid && formSubmitted">
                
            <div ng-show="form1[key].$error.required">
                {{ request.meta[key].required_error || "Value is required." }}
            </div>
            <div ng-show="form1[key].$error.minlength">
                {{ request.meta[key].minlength_error || "Value must be at least " + request.meta[key].minlength + " characters." }}
            </div>
            <div ng-show="form1[key].$error.maxlength">
                {{ request.meta[key].maxlength_error || "Value can't be more than " + request.meta[key].minlength + " characters." }}
            </div>
            <div ng-show="form1[key].$error.pattern">
                {{ request.meta[key].pattern_error || "Not an appropriate value for " + key + "."  }}
            </div>
            <div ng-show="form1[key].$error.match">
                {{ request.meta[key].match_error || "Value doesn't match with " + request.meta[key].matches + "."  }}
            </div>
        </div>
    </div>
    
</div>



<button id="form1_submit" ng-if="submit" ng-click="submit.func()">{{submit.val}}</button> 
<button ng-if="reset" ng-click="reset.func()">{{reset.val}}</button><br><br>

</form>
