        <div class="row">
            <div class="col-lg-3">
                <h3>Shared With You</h3>
                <div class="form-group">
                    <input class="form-control" placeholder="Search listings" type="text">
                </div>
                <button class="btn btn-default btn-block">Browse Listings by Category &#9654;</button>
                <br>
                <h4>Recent Listings:</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading">List group item heading</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading">List group item heading</h4>
                      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>	
            <div class="col-lg-5 well">
                <h3>Request Feed</h3>
                <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Ask for something you need..."></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div> 
            </div>
            <div class="col-lg-3">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Share Something</a>
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Resources</a></li>
                      <li><a href="#">Space</a></li>
                      <li><a href="#">Meals</a></li>
                      <li><a href="#">Skills/Labor</a></li>
                      <li><a href="#">Activity</a></li>
                    </ul>
                </div>
                <hr>
                <h4>Find People You Know</h4>
                <hr>
                <h5>People Near You</h5>
                <div ng-include="'templates/user-list.html?e=1'" 
                     ng-controller="NearbyPeopleController"></div>
                <hr>
                <div class="form-group" ng-controller="SearchParticipantsController">
                    <label class="control-label">Search for People and Groups</label>
                    <input class="form-control" id="focusedInput" 
                           placeholder="Enter a name" type="text"
                           ng-model="State.participantSearchString">
                    <button ng-click="searchParticipants()">Search</button>
                </div>
            </div>
        </div>
        <div class="row" id="footer">
              <div class="col-lg-12">
                  <hr>
                  <p>
                  Questions and feedback: 
                  <a href="mailto:thebellsofohio@hotmail.com">
                      thebellsofohio@hotmail.com
                  </a><br />
                  Made in Ohio
              </div>
        </div>
