{{ State.debug }}
<form name="form1" novalidate ng-controller="ManageAccountFormController" ng-init="loadForm()">

    this is the manage account page.<br><br>
    {{ request.request }}<br><br>
    
    <div ng-include="'form-error.html'"></div> 

    <div ng-controller="ManageAccountInputEmailController">
        <strong>Email</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.email"
               ng-click="State.accountDataEditToggle.email=!State.accountDataEditToggle.email">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.email">
            {{request.request.email }} 
        </div>
        <div ng-if="State.accountDataEditToggle.email">
            <div class="input-group">
                <div ng-include="'input.html'"></div> 
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
                    <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
                </span>
            </div>
            <div ng-include="'input-error.html'"></div> 
            <div ng-include="'input-description.html'"></div> 
        </div>
    </div>
    <br>
    
    <div ng-controller="ManageAccountInputNameController" ng-if="State.activeAccount.type=='person'">
        <strong>Name</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.name"
               ng-click="State.accountDataEditToggle.name=!State.accountDataEditToggle.name">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.name">
            {{request.request.first_name }} 
            {{request.request.last_name }} 
        </div>
        <div ng-if="State.accountDataEditToggle.name">
            <div ng-repeat="field in inputFields">
                <div class="input-group">
                    <span class="input-group-addon">{{request.meta[field].name}}</span>
                    <div ng-include="'input.html'"></div>   
                </div>
                <div ng-include="'input-description.html'"></div> 
                <div ng-include="'input-error.html'"></div> 
            </div><br>
            <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
            <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
            
        </div>
    </div>
    <div ng-controller="ManageAccountInputTitleController" ng-if="State.activeAccount.type=='group'">
        <strong>Group Name and Description</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.title"
               ng-click="State.accountDataEditToggle.title=!State.accountDataEditToggle.title">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.title">
            {{request.request.title }} 
            {{request.request.description }} 
        </div>
        <div ng-if="State.accountDataEditToggle.title">
            <div ng-repeat="field in inputFields">
                <div class="input-group">
                    <span class="input-group-addon">{{request.meta[field].name}}</span>
                    <div ng-include="'input.html'"></div>   
                </div>
                <div ng-include="'input-description.html'"></div> 
                <div ng-include="'input-error.html'"></div> 
            </div><br>
            <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
            <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
            
        </div>
    </div>
    <br>
    
    <div ng-controller="ManageAccountInputPrivacyController">
        <strong>Privacy Settings</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.privacy"
               ng-click="State.accountDataEditToggle.privacy=!State.accountDataEditToggle.privacy">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.privacy">
            <div ng-if="request.request.share_email">
                Sharing email with friends
            </div>
            <div ng-if="request.request.share_address">
                Sharing full address with friends
            </div>
            <div ng-if="request.request.share_phone">
                Sharing phone number with friends
            </div>
        </div>
        <div ng-if="State.accountDataEditToggle.privacy">
            <div ng-repeat="field in inputFields"> 
                    <span ng-include="'input.html'"></span>   
                    <span ng-include="'input-label.html'"></span>  
                <div ng-include="'input-description.html'"></div> 
                <div ng-include="'input-error.html'"></div> 
            </div><br>
            <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
            <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
        </div>
    </div>
    <br>
    
    <div ng-controller="ManageAccountInputPhoneController">
        <strong>Phone Number</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.phone"
               ng-click="State.accountDataEditToggle.phone=!State.accountDataEditToggle.phone">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.phone">
            {{request.request.phone_number }} 
            ({{request.request.phone_type }})
        </div>
        <div ng-if="State.accountDataEditToggle.phone">
            <div ng-repeat="field in inputFields">
                <div class="input-group">
                    <span class="input-group-addon">{{request.meta[field].name}}</span>
                    <div ng-include="'input.html'"></div>   
                </div>
                <div ng-include="'input-description.html'"></div> 
                <div ng-include="'input-error.html'"></div> 
                <br>
            </div>
            <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
            <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
            
        </div>
    </div>
    <br>
    
    
    

    
    
    
    
    <strong>Profile Picture</strong> 
    <a href="" class="label label-primary"data-target="#myModal" data-toggle="modal">
        Upload
    </a>
    <div>
        <img alt="User Picture" ng-src="{{ request.request.pic_large_url }}" width="100" height="100" /> 
            
    </div>
    <br>
    
    <strong>Address</strong> 
    <a href="" class="label label-primary" data-target="#map-modal" data-toggle="modal">
        edit
    </a>
    <div>
        {{request.request.full_address }}
    </div>
    <br>
    
    <div ng-controller="ManageAccountInputAddressController">
        <strong>Display Address</strong> 
        <a href="" class="label label-primary" 
               ng-if="!State.accountDataEditToggle.address"
               ng-click="State.accountDataEditToggle.address=!State.accountDataEditToggle.address">
            edit
        </a>
        <div ng-if="!State.accountDataEditToggle.address">
            {{ request.request.street }} ({{ request.request.neighborhood || request.request.city }})
        </div>
        <div ng-if="State.accountDataEditToggle.address">
            
            <div ng-repeat="field in inputFields">
                <div class="input-group">
                    <span class="input-group-addon">{{request.meta[field].name}}</span>
                    <div ng-include="'input.html'"></div>   
                </div>
                <div ng-include="'input-description.html'"></div> 
                <div ng-include="'input-error.html'"></div> 
                <br>
            </div>
            <button class="btn btn-primary" ng-click="validateForm(form1.$valid)">Submit</button>
            <button class="btn btn-warning" ng-click="cancelSubmit()">Cancel</button>
            
        </div>
    </div>
    <br>
    
    

    
    <button ng-click="deleteAccount()">Delete Account</button>
 
    
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" 
     ng-controller="MapController"
     aria-labelledby="mapModalLabel" aria-hidden="true" 
     ng-include="'templates/map-modal.html?g=3'"></div>   

    
</form>

<div ng-if="State.activeAccount.type=='person'">
    <strong>Password</strong> 
    <a href="" class="label label-primary" 
           ng-show="!State.accountDataEditToggle.password"
           ng-click="State.accountDataEditToggle.password=!State.accountDataEditToggle.password">
        edit
    </a>
    <div ng-include="'templates/main/manage-password.html?v=1'"
         ng-show="State.accountDataEditToggle.password"></div>
</div>
    <br><br>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
     ng-controller="UserImageController"
     aria-labelledby="myModalLabel" aria-hidden="true" 
     ng-include="'templates/user-image.html'"></div>   
 


<!--
        <div ng-controller="ManageAccountFormController" ng-init="loadForm()">
            <div ng-if="Request.account" 
                 vb-build-form 
                 vb-request-object="Request.account"
                 vb-submit="{val:'Save Changes', func:submitForm}" 
                 vb-reset="{val:'Reset Form', func:resetForm}"></div>
            <div ng-if="!Request.account">Form loading...</div>
        </div>
-->


    



